
a:active     {  font-family: Arial; font-size: 12px; }
a:link       {  font-family: Arial; font-size: 12px; }
a:visited    {  font-family: Arial; font-size: 12px; }
body         {  font-family: Arial; font-size: 12px; face="Verdana"}
li           {  font-family: Arial; font-size: 12px; face="Verdana"}
ol           {  font-family: Arial; font-size: 12px; face="Verdana"}
table        {  font-family: Arial; font-size: 12px; face="Verdana"}
td           {  font-family: Arial; font-size: 12px; face="Verdana"}
