
a:active     {  font-family: Arial; font-size: 12px; color: #FFFFFF}
a:link       {  font-family: Arial; font-size: 12px; color: #FFFFFF}
a:visited    {  font-family: Arial; font-size: 12px; color: #FFFFFF}
body         {  font-family: Arial; font-size: 12px; color: #FFFFFF}
li           {  font-family: Arial; font-size: 12px; color: #FFFFFF}
ol           {  font-family: Arial; font-size: 12px; color: #FFFFFF}
table        {  font-family: Arial; font-size: 12px; color: #FFFFFF}
td           {  font-family: Arial; font-size: 12px; color: #FFFFFF}